@import "../abstracts/mixins";
.footer_container {
  display: flex;
  justify-content: space-between;
  @include respond(phone) {
  }
  .footer_logo {
    @include respond(phone) {
      width: 7em;
      height: 5em;
    }
  }

  .footer_contactbox {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(tab-port) {
      margin-top: 2em;
      margin-right: 4em;
      display: block;
    }
    @include respond(tab-port) {
      margin-right: 1em;
    }
    @include respond(phone) {
      margin-top: -2em;
      margin-right: 0em;
    }
    .footer_icon {
      align-items: center;

      justify-content: baseline;
      display: flex;
      @include respond(phone) {
        display: flex;
        margin-right: 1em;
      }
      .footer_icons {
        width: 4em;
        height: 3em;
      }
    }
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 2rem;
      line-height: 3rem;
      text-align: justify;
      padding: 0.5rem;
      justify-content: center;
      top: 50%;
      bottom: 50%;
      padding: 1rem;
      @include respond(tab-port) {
        margin-right: 1em;
      }
      @include respond(tab-port) {
        font-size: 1.2em;
      }
    }
  }
  .footer_mediaicons {
    position: relative;
    margin-top: 3rem;
    margin-right: 5rem;
    @include respond(tab-port) {
      margin-right: 1em;
    }
    @include respond(phone) {
      margin-right: 0em;
      margin-top: 0em;
    }
    .footer_mediaicon {
      padding: 0.5rem;
      @include respond(tab-port) {
        margin-right: 0em;
      }
      @include respond(phone) {
        height: 5em;
        width: 5em;
        margin-right: 0em;
      }
    }
  }
}
