@import "../../styles/abstracts//mixins";
.GalleryNavBar_position {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15rem;
  max-width: 100.5em;
  @include respond(tab-land) {
    max-width: 50em;
  }
  .GalleryNavBar_container {
    display: grid; /* Dodaj tę linię */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .GalleryNavBar_element {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: rgb(0, 0, 0);
      margin: 2rem;
      width: 28rem;
      height: 10rem;
      background: #000000;
      border: 0.2rem black solid;
      filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.61));
      font-style: normal;
      font-weight: 700;
      font-size: 2.4rem;
      transition: color 0.4s linear;
      @include respond(tab-land) {
        filter: none;
        transition: none;

        background-color: #ffffff;
        color: black;
        font-size: 2rem;
        width: 25rem;
      }
      @include respond(tab-port) {
        font-size: 1.8rem;
        width: 17rem;
      }
      @include respond(phone) {
        margin: 0.5em;
        font-size: 1.4rem;
        width: 10rem;
        height: 7rem;
      }
    }
    .active {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: rgb(255, 255, 255);
      margin: 2rem;
      width: 28rem;
      height: 10rem;
      background: #000000;
      border: 0.2rem black solid;

      font-style: normal;
      font-weight: 700;
      font-size: 2.4rem;
      @include respond(tab-land) {
        font-size: 2rem;
        width: 25rem;
      }
      @include respond(tab-port) {
        font-size: 1.8rem;
        width: 17rem;
      }
      @include respond(phone) {
        margin: 0.5em;
        font-size: 1.4rem;
        width: 10rem;
        height: 7rem;
      }
    }
    .GalleryNavBar_element:hover {
      color: rgb(253, 253, 253);
    }
    .GalleryNavBar_element::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      z-index: -99;
      transition: transform 0.5s;
      transform-origin: 0 0;
      transition-timing-function: cubic-bezier(0.5, 1.6);
      @include respond(tab-land) {
        background-color: transparent;
      }
    }
    .GalleryNavBar_element::before {
      transform: scaleY(1);
    }
    .GalleryNavBar_element:hover::before {
      transform: scaleY(0);
    }
    // .GalleryNavBar_element {
    //   border-right: 2px solid black;
    //   padding: 2rem;
    //   font-size: 2rem;
    //   color: black;
    // }
    .GalleryNavBar_element2 {
      text-decoration: none;
      font-size: 2rem;
      padding: 2rem;
      color: black;
    }
  }
}
