@import "../abstracts/mixins";
.mainpage_container {
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: flex;

  @include respond(big-desktop) {
    max-width: 130.5em;
    margin-left: auto;
    margin-right: auto;
  }
  @include respond(tab-port) {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @include respond(phone) {
    width: 100%;
  }
  .mainpage_fontcontainer {
    padding: 5rem;
    width: 100%;
    @include respond(phone) {
      margin-left: auto;
      margin-right: auto;
      width: 100vw;
      padding: 2em;
    }
    .mainpage_Aboutfontcontainer {
      font-style: normal;
      font-weight: 700;
      font-size: 7.2rem;
      margin-bottom: 1.5rem;
    }

    .mainpage_Whatfontcontainer {
      width: 90%;
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      line-height: 3rem;
    }
    .mainpage_button {
      cursor: pointer;
      color: white;
      margin-top: 7rem;
      width: 38rem;
      height: 10rem;
      background: #000000;
      border: 0.5rem black solid;
      filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.61));
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      transition: color 0.4s linear;
      @include respond(tab-port) {
        text-align: center;
        justify-content: center;
        align-items: center;
      }
    }
    .mainpage_button:hover {
      color: black;
    }
    .mainpage_button::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      z-index: -99;
      transition: transform 0.5s;
      transform-origin: 0 0;
      transition-timing-function: cubic-bezier(0.5, 1.6);
    }
    .mainpage_button::before {
      transform: scaleX(0);
    }
    .mainpage_button:hover::before {
      transform: scaleX(1);
    }
  }
  .mainpage_imageContainer {
    padding-left: 35rem;
    width: 100%;
    position: relative;
    @include respond(tab-land) {
      width: 80%;
    }
    @include respond(tab-port) {
      display: none;
    }
    .mainpage_image1 {
      /* image 2 */

      transform: matrix(0.98, 0.22, -0.2, 0.98, 0, 0);

      position: absolute;
      z-index: 3;
      // margin-left: 22rem;
      width: 35em;
      height: 35em;
      /* image 4 */

      @include respond(tab-land) {
        width: 30em;
        height: 30em;
        margin-left: -3rem;
      }
      @include respond(big-desktop) {
        width: 35em;
        height: 35em;
        // margin-left: 20em;
      }
    }
    .mainpage_image2 {
      position: absolute;
      width: 35em;
      height: 35em;
      z-index: 1;
      @include respond(tab-land) {
        width: 30em;
        height: 30em;
        // margin-top: 21em;
        // margin-left: 7em;
      }
      @include respond(big-desktop) {
        width: 35em;
        height: 35em;
        margin-top: 21em;
        // margin-left: 7em;
      }
    }
    .mainpage_image3 {
      transform: matrix(0.97, -0.22, 0.19, 0.98, 0, 0);
      position: absolute;
      z-index: 2;
      width: 38em;
      height: 38em;
      @include respond(tab-land) {
        width: 30em;
        height: 30em;
        margin-left: 6rem;
      }

      @include respond(big-desktop) {
        width: 35em;
        height: 35em;
      }
    }
  }
}
//////////////////////////////////
.mainpage_about_container {
  padding-left: 7rem;
  padding-right: 7rem;

  margin-top: 5rem;
  padding-top: 5rem;
  @include respond(big-desktop) {
    max-width: 142.5em;
    margin-left: auto;
    margin-right: auto;
  }
  @include respond(tab-port) {
    padding: 5em;
    margin: 0 0;
  }
  h2 {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    text-align: center;
    justify-content: center;
    border-bottom: 3px solid black;
    font-style: normal;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 7.2rem;
    letter-spacing: 0.15em;
  }
  .mainpage_about_description {
    padding: 7rem;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    @include respond(tab-land) {
      padding: 0.7em;
    }
    @include respond(phone) {
      font-weight: 500;
      padding: 0;
      margin-top: 2em;
    }
  }
  .mainpage_about_Aboutfontcontainer {
    margin-top: 8rem;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 7.2rem;
    margin-bottom: 1.5rem;
    @include respond(tab-port) {
      margin-top: 2em;
      position: relative;
      font-size: 5em;
      padding: 0em;
    }
  }

  .mainpage_button {
    display: flex;
    cursor: pointer;
    color: white;
    margin-top: 7rem;
    width: 55rem;
    height: 10rem;
    background: #000000;
    border: 0.5rem solid black;
    filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.61));
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @include respond(tab-land) {
      width: 17em;
    }
    @include respond(tab-port) {
      width: 100%;
    }
    @include respond(phone) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 3em;
      margin-bottom: 3em;
      // width: 70%;
      font-size: 3em;
    }
  }
  .mainpage_button:hover {
    color: black;
  }
  .mainpage_button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -99;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6);
  }
  .mainpage_button::before {
    transform: scaleX(0);
  }
  .mainpage_button:hover::before {
    transform: scaleX(1);
  }
}
.progress-bar {
  position: fixed;
  top: 11.7rem;
  left: 0;
  right: 0;
  height: 0.5rem;
  background: rgb(0, 0, 0);
  transform-origin: 0%;
  z-index: 999;
  @include respond(tab-port) {
    top: 0;
    height: 1.5rem;
  }
}
