@import "../abstracts/mixins";
.mainpage_container {
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: flex;
  margin: 3rem auto;
  max-width: 95.5em;
  @include respond(big-desktop) {
    max-width: 110.5em;
    margin-left: auto;
    margin-right: auto;
  }
  @include respond(tab-port) {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @include respond(phone) {
    width: 100%;
  }
  .mainpage_fontcontainer {
    width: 150%;
    @include respond(tab-port) {
      margin-left: auto;
      margin-right: auto;
      width: 100vw;
      padding: 2em;
    }
    .mainpage_Aboutfontcontainer {
      font-style: normal;
      font-weight: 700;
      font-size: 4.8rem;
      margin-bottom: 1.5rem;
    }

    .mainpage_Whatfontcontainer {
      width: 90%;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 3rem;
      @include respond(tab-port) {
        width: 100%;
      }
    }
    .mainpage_button {
      cursor: pointer;
      color: white;
      margin-top: 7rem;
      width: 32rem;
      height: 8rem;
      background: #000000;
      border: 0.5rem black solid;
      filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.61));
      font-style: normal;
      font-weight: 700;
      font-size: 3.2rem;
      transition: color 0.4s linear;
      @include respond(tab-port) {
        text-align: center;
        justify-content: center;
        align-items: center;
        @include respond(phone) {
          width: 8em;
        }
        @include respond(fold) {
          font-size: 2.4em;
          width: 6em;
        }
      }
    }
    .mainpage_button:hover {
      color: black;
    }
    .mainpage_button::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      z-index: -99;
      transition: transform 0.5s;
      transform-origin: 0 0;
      transition-timing-function: cubic-bezier(0.5, 1.6);
      @include respond(tab-land) {
        transition: none;
        display: none;
      }
    }
    .mainpage_button[data-theme="dark"]::before {
      display: none;
    }
    .mainpage_button[data-theme="dark"] {
      color: black;
    }
    .mainpage_button::before {
      transform: scaleX(0);
    }
    .mainpage_button:hover::before {
      transform: scaleX(1);
    }
  }
  .mainpage_imageContainer {
    padding-left: 15rem;
    width: 100%;
    right: -15%;
    position: relative;
    @include respond(desktop) {
      padding-left: 10rem;
    }
    @include respond(tab-port) {
      display: none;
    }
    .mainpage_image1 {
      /* image 2 */

      transform: matrix(0.98, 0.22, -0.2, 0.98, 0, 0);

      position: absolute;
      z-index: 3;
      // margin-left: 22rem;
      // width: 35em;
      // height: 25em;
      /* image 4 */

      @include respond(tab-land) {
        // width: 30em;
        // height: 30em;
        margin-left: -5rem;
      }
      @include respond(smaller-desktop) {
        width: 30em;
        height: 30em;
        margin-left: -4rem;
      }
      @include respond(big-desktop) {
        // width: 35em;
        // height: 35em;
        // margin-left: 20em;
      }
    }
    .mainpage_image2 {
      position: absolute;
      width: 35em;
      height: 25em;
      z-index: 1;
      margin-top: -5em;
      @include respond(tab-land) {
        // width: 35em;
        // height: 25em;

        // margin-left: 7em;
      }
      @include respond(smaller-desktop) {
        width: 35em;
        height: 30em;
        // margin-bottom: 5rem;
      }
      @include respond(big-desktop) {
        width: 35em;
        height: 35em;
        margin-top: 12em;
        margin-left: -7em;
      }
    }
    .mainpage_image3 {
      transform: matrix(0.97, -0.22, 0.19, 0.98, 0, 0);
      position: absolute;
      z-index: 2;
      width: 38em;
      height: 28em;
      @include respond(tab-land) {
        width: 45em;
        // height: 30em;
        margin-left: 10rem;
      }
      @include respond(smaller-desktop) {
        width: 35em;
        height: 30em;
        margin-left: 6rem;
      }
      @include respond(big-desktop) {
        width: 35em;
        height: 35em;
        margin-left: -5em;
      }
    }
  }
  // .mainpage_imageContainer::before {
  //   content: "";
  //   position: absolute;
  //   background-color: rgba(49, 49, 49, 0.489);
  //   width: 75em;
  //   height: 8em;
  //   top: 95%;
  //   right: 25%;
  //   // z-index: 1200;
  //   border-radius: 50%;
  //   transform: perspective(0.8em) rotateX(5deg) scale(0.45, 0.45);
  //   @include respond(tab-land) {
  //     left: -9%;
  //   }
  //   @include respond(smaller-desktop) {
  //     top: 120%;
  //     left: -9%;
  //   }
  //   @include respond(desktop) {
  //     top: 120%;
  //     left: 1%;
  //   }
  //   @include respond(big-desktop) {
  //     top: 130%;
  //     left: -3%;
  //   }
  // }
}
//////////////////////////////////
.mainpage_about_container {
  max-width: 95.5em;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 5rem;
  padding-top: 5rem;
  @include respond(big-desktop) {
    max-width: 110.5em;
    margin-left: auto;
    margin-right: auto;
  }
  @include respond(tab-port) {
    padding: 5em;
    margin: 0 0;
  }
  @include respond(fold) {
    padding: 1em;
  }
  h1 {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    text-align: center;
    justify-content: center;
    border-bottom: 3px solid black;
    font-style: normal;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 7.2rem;
    letter-spacing: 0.15em;
  }
  .mainpage_about_description {
    margin-top: 6rem;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    @include respond(smaller-desktop) {
      font-size: 1.8rem;
      line-height: 1.8em;

      letter-spacing: 0.01px;
      word-spacing: 0.1px;
      font-weight: 400;
    }
    @include respond(tab-land) {
      font-size: 1.6rem;
      line-height: 1.6em;
      word-spacing: 0.1px;
    }
    @include respond(tab-port) {
      padding: 0;
      margin-top: 1em;
    }
    @include respond(phone) {
      text-align: left;
      font-size: 1.8em;
      font-weight: 400;
      padding: 0;
      margin-top: 2em;
    }
  }
  .mainpage_about_Aboutfontcontainer {
    margin-top: 8rem;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    margin-bottom: 1.5rem;
    @include respond(tab-port) {
      margin-top: 2em;
      position: relative;
      font-size: 5em;
      padding: 0em;
    }
    @include respond(phone) {
      font-size: 3.6em;
    }
  }

  .mainpage_button {
    display: flex;
    cursor: pointer;
    color: white;
    margin-top: 7rem;
    width: 48rem;
    height: 8rem;
    background: #000000;
    border: 0.5rem solid black;
    filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.61));
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    @include respond(smaller-desktop) {
      width: 17em;
    }
    @include respond(tab-land) {
      width: 17em;
    }
    @include respond(tab-port) {
      width: 100%;
    }
    @include respond(phone) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 3em;
      margin-bottom: 3em;
      // width: 70%;
      font-size: 3em;
      height: 5em;
    }
    @include respond(fold) {
      font-size: 3.6em;
    }
  }
  .mainpage_button:hover {
    color: black;
  }
  .mainpage_button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -99;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6);
    @include respond(tab-land) {
      transition: none;
    }
  }
  .mainpage_button[data-theme="dark"]::before {
    display: none;
  }
  .mainpage_button[data-theme="dark"] {
    color: black;
  }

  .mainpage_button::before {
    transform: scaleX(0);
  }
  .mainpage_button:hover::before {
    transform: scaleX(1);
  }
}
.progress-bar {
  width: 100vw;
  display: flex;
  position: fixed;

  height: 0.5rem;
  background: rgb(0, 0, 0);
  transform-origin: 0%;
  z-index: 999;
  @include respond(tab-land) {
    top: 9.2em;
  }
  @include respond(tab-port) {
    top: 0;
    height: 1.5rem;
  }
}
