@import "../abstracts/mixins";
.navigationbar_container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: rgba(253, 253, 253, 0.8);
  backdrop-filter: blur(0.3rem);
  z-index: 200;

  @include respond(tab-port) {
    width: 100vw;
  }
  @include respond(phone) {
  }
  .toggle_button_box {
    // transform: scale(80);
    .toggle-button {
      cursor: pointer;
      position: absolute;
      top: 5em;
      right: 4em;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 3em;
      height: 3em;
      z-index: 100;

      @include respond(tab-port) {
        display: flex;
      }
      .bar {
        z-index: 1000;
        height: 0.3em;
        // width: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
      }
    }
    .bar1 {
      @include respond(tab-port) {
        width: 7em;
        height: 7em;
        position: absolute;
        top: 3em;
        right: 2rem;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        z-index: 90;
      }
    }
  }

  .navigationbar_logo {
    position: absolute;
    z-index: 999;
    padding: 0.3rem;
    height: 12.5rem;
    width: 15.5rem;
    @include respond(tab-land) {
      margin-top: 1em;
      height: 9em;
      width: 12em;
    }
    @include respond(tab-port) {
      margin-top: 1em;
      height: 8em;
      width: 11em;
    }
  }
}
.sun {
  position: absolute;
  position: absolute;
  width: 5em;
  right: 27em;
  top: 3.4em;
  @include respond(tab-land) {
    right: 15em;
  }
  @include respond(tab-land) {
    right: 22em;
  }
  @include respond(tab-port) {
    top: 4.5em;
    right: 15em;
  }
  @include respond(phone) {
    top: 4.5em;
    right: 12em;
  }
}

.moon {
  position: absolute;
  width: 4em;
  right: 27em;
  top: 3.4em;
  // @include respond(smaller-desktop) {
  //   right: 35em;
  // }
  @include respond(tab-land) {
    right: 22em;
  }
  @include respond(tab-port) {
    top: 4.5em;
    right: 15em;
  }
  @include respond(phone) {
    top: 4.5em;
    right: 12em;
  }
}
.navigationbar_content {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include respond(tab-port) {
    position: fixed;

    margin-top: 20em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vw;
    z-index: 455;
    display: none;
  }

  .base-scroll {
    z-index: 999;
    position: relative;
    color: #050505;
    font-style: normal;
    font-size: 2.4rem;

    font-weight: bold;
    @include respond(tab-land) {
      margin: 0;
      font-size: 1em;
    }
  }
  .base-text {
    padding: 0.7em;
    z-index: 999;
    position: relative;
    color: #050505;
    font-style: normal;
    font-size: 2rem;
    margin: 2.5rem;
    cursor: pointer;
    text-decoration: none; /* Usunięcie podkreślenia */
    @include respond(tab-land) {
      margin: 1em;
      font-size: 1.8em;
    }
    @include respond(tab-port) {
      color: rgb(255, 253, 253);
      font-weight: bolder;
    }
  }
  .base-text::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.3rem;
    background-color: black;

    transition: transform 300ms ease-in-out;
    z-index: 999;
    transform: scaleX(0);
  }

  .base-text:hover::before,
  .base-text:focus::before {
    transform: scaleX(1);
  }
  .base-text:hover {
    color: rgb(15, 15, 15);
    font-weight: 700;
  }
}
// .base-text:hover,
// .base-text.activated {
//   color: black;
// }
.navigationbar_content.active {
  z-index: 999;
  display: flex;
}

.navigationbar_button {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  margin-top: 2rem;
  margin-right: 5rem;
  padding: 1.2rem;
  width: 20.4rem;
  height: 6.2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  border: 0.5px solid #dadada;
  --border-size: 0.5rem;
  filter: drop-shadow(-4px 4px 9px rgba(0, 0, 0, 0.25))
    drop-shadow(9px 8px 11px rgba(0, 0, 0, 0.25));
  @include respond(tab-land) {
    width: 10em;
    font-size: 1.4em;
  }
  @include respond(tab-port) {
    display: none;
  }
}

.navigationbar_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: var(--border-size) solid rgb(0, 0, 0);
  transition: top, left, right, bottom, 100ms ease-in-out;
  color: white;
}
.navigationbar_button:hover::before,
.navigationbar_button:focus::before {
  top: calc(var(--border-size) * -1.5);
  left: calc(var(--border-size) * -1.5);
  right: calc(var(--border-size) * -1.5);
  bottom: calc(var(--border-size) * -1.5);
}
