@import "../abstracts/mixins";
.navigationbar_container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: rgba(253, 253, 253, 0.8);
  backdrop-filter: blur(0.3rem);
  z-index: 100;
  @include respond(tab-port) {
    width: 100vw;
    border-bottom: 0.2em solid black;
  }
  @include respond(phone) {
    border-bottom: 0.2em solid black;
  }
  .toggle_button_box {
    width: 5em;
    height: 5em;
    position: absolute;
    top: 3em;
    right: 1rem;
    border-radius: 50%;
    background-color: red;
    z-index: 90;

    .toggle-button {
      cursor: pointer;

      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 5em;
      height: 3em;
      z-index: 1000;

      @include respond(tab-port) {
        display: flex;
      }
      .bar {
        z-index: 1000;
        height: 0.3em;
        // width: 100%;
        background-color: rgb(3, 3, 3);
        border-radius: 10px;
      }
    }
  }
  .toggle_button_box.active {
    transform: scale(80);
  }
  .navigationbar_logo {
    position: absolute;
    z-index: 999;
    padding: 0.3rem;
    height: 8.5rem;
    width: 12.5rem;
    @include respond(tab-port) {
      margin-top: 02em;
    }
  }
}

.navigationbar_content {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(tab-port) {
    padding-top: 4em;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    z-index: 55;
    display: none;
  }

  p {
    z-index: 999;
    position: relative;
    color: #837b7b;
    font-style: normal;
    font-size: 2.4rem;
    margin: 3.2rem;
    cursor: pointer;
    text-decoration: none; /* Usunięcie podkreślenia */
    @include respond(tab-port) {
      color: black;
      font-weight: bolder;
    }
  }
  p::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.3rem;
    background-color: black;
    transition: transform 300ms ease-in-out;
    z-index: 999;
    transform: scaleX(0);
  }

  p:hover::before,
  p:focus::before {
    transform: scaleX(1);
  }
}
// p:hover,
// p.active {
//   color: black;
// }
.navigationbar_content.active {
  z-index: 999;
  display: flex;
}

.navigationbar_button {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  margin-top: 2rem;
  margin-right: 5rem;
  padding: 1.2rem;
  width: 25.4rem;
  height: 7.2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  border: 0.5px solid #dadada;
  --border-size: 0.5rem;
  filter: drop-shadow(-4px 4px 9px rgba(0, 0, 0, 0.25))
    drop-shadow(9px 8px 11px rgba(0, 0, 0, 0.25));
  @include respond(tab-port) {
    display: none;
  }
}

.navigationbar_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: var(--border-size) solid rgb(0, 0, 0);
  transition: top, left, right, bottom, 100ms ease-in-out;
  color: white;
}
.navigationbar_button:hover::before,
.navigationbar_button:focus::before {
  top: calc(var(--border-size) * -1.5);
  left: calc(var(--border-size) * -1.5);
  right: calc(var(--border-size) * -1.5);
  bottom: calc(var(--border-size) * -1.5);
}
