@import "../abstracts/mixins";
@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";
.offert_container {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 130.5em;
  @include respond(tab-port) {
    position: relative;
    margin-top: 5em;
    padding-top: 0em;
  }
  @include respond(big-desktop) {
    position: relative;
    margin-top: 25em;
    padding-top: 0em;
  }
  h2 {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    text-align: center;
    justify-content: center;
    border-bottom: 3px solid black;
    font-style: normal;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 7.2rem;
    letter-spacing: 0.15em;
  }

  .offert_tiles {
    display: grid; /* Dodaj tę linię */
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding: 15em;
    @include respond(tab-land) {
      grid-gap: 2rem;
      justify-self: center; /* Wyśrodkowanie w poziomie */
      align-self: center;
      position: relative;
    }
    @include respond(tab-port) {
      justify-self: center; /* Wyśrodkowanie w poziomie */

      align-self: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
    }

    .offert_tile2 {
      cursor: pointer;
      background: rgba(239, 245, 255, 0.72);
      width: 30em;
      height: 55.8rem;
      text-align: center;
      justify-content: center;
      overflow: hidden;
      @include respond(tab-land) {
        margin-top: 4em;
        height: 50em;
        width: 30em;
        justify-self: center; /* Wyśrodkowanie w poziomie */
        align-self: center;
      }
      @include respond(phone) {
        height: 30em;
        width: 16em;
      }
      .offert_image {
        transition: transform 0.3s ease;
        width: 36.1rem;
        height: 33rem;
        z-index: -1;
        scale: 1.1;
        @include respond(tab-land) {
          width: 30em;
          height: 27.5em;
        }
        @include respond(phone) {
          width: 16em;
          height: 16em;
        }
      }
      .offert_image4 {
        opacity: 0;
        width: 150rem;
        transition: opacity 0.3s ease-out;
      }
      .offert_image4.visible {
        opacity: 1;
      }
      a {
        z-index: 1;
        font-style: normal;
        font-weight: 900;
        font-size: 3.6rem;
        line-height: 5.4rem;
        @include respond(phone) {
          margin-top: 0;
          font-size: 2em;
          line-height: 1.4em;
        }
      }
    }
    .offert_tile3 {
      cursor: pointer;
      background: rgba(239, 245, 255, 0.72);

      text-align: center;
      width: 30em;
      overflow: hidden;
      height: 56em;
      @include respond(tab-land) {
        margin-top: 4em;
        height: 50em;
        width: 30em;
        justify-self: center; /* Wyśrodkowanie w poziomie */
        align-self: center;
      }
      @include respond(phone) {
        height: 30em;
        width: 16em;
      }
      .offert_image {
        width: 35rem;
        height: 34rem;
        z-index: -1;

        transition: background-image 0.3s ease;
        background-size: cover;
        @include respond(tab-land) {
          width: 230em;
          height: 28.5em;
        }
        @include respond(phone) {
          width: 16em;
          height: 16em;
        }
      }

      a {
        z-index: 1;
        font-style: normal;
        font-weight: 900;
        font-size: 3.6rem;
        line-height: 4.4rem;
        margin-bottom: 2em;
        @include respond(phone) {
          margin-top: 0;
          font-size: 2em;
          line-height: 1.4em;
        }
      }
    }

    .element {
      cursor: pointer;
      color: rgb(0, 0, 0);

      background: #000000;

      filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.61));
      font-style: normal;

      transition: color 0.4s linear;
      @include respond(tab-port) {
        text-align: center;
        justify-content: center;
        align-items: center;
      }
    }
    .element:hover {
      color: rgb(253, 253, 253);
    }
    .element::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      z-index: -99;
      transition: transform 1s;
      transform-origin: 0 0;
      transition-timing-function: cubic-bezier(0.5, 1.6);
    }
    .element::before {
      transform: scaleY(1);
    }
    .element:hover::before {
      transform: scaleY(0);
    }
  }
}
