@import "../abstracts/mixins";
@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-550%);
  }
}
.header {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;

  h2 {
    position: relative;
    max-width: 150rem;
    font-style: normal;
    font-weight: 500;
    font-size: 4.8rem;
    margin-bottom: 2rem;
    letter-spacing: 0.15em;

    @include respond(tab-land) {
      font-size: 2.8rem;
    }
    @include respond(tab-port) {
      font-size: 2.8rem;
    }
  }

  .header_star {
    width: 6rem;
    height: 6rem;
    color: gold;
    @include respond(tab-land) {
      display: none;
    }
  }
}
.reviews_slider {
  /* Set the width of the slider to occupy its parent's width */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-x: hidden;
  margin: 3rem auto;
  max-width: 170rem;

  white-space: nowrap;
  position: relative;
  @include respond(big-desktop) {
    margin-top: 35rem;
  }
  @include respond(tab-land) {
    max-width: 80rem;
  }

  .review_container:hover {
    animation-play-state: paused;
  }
  .review_container {
    animation: 425s slider infinite linear;
    vertical-align: top;

    .review_item {
      padding: 3rem;
      display: inline-block;
      white-space: wrap; /* Prevent the items from wrapping to the next line */
      vertical-align: top;

      .review_quote {
        margin-left: -1%;
        position: absolute;
        @include respond(tab-land) {
          margin-left: -2%;
        }
        @include respond(tab-port) {
          margin-left: -4%;
        }
      }

      .review_stars {
        display: flex;
        .review_star {
          width: 1rem;
          color: gold;
        }
      }

      .review {
        font-size: 1.6rem;
        max-width: 32rem;
      }

      .review_author {
        font-size: 1.6rem;
        font-style: italic;
      }
    }
  }
}
