.mainpage_container {
  margin-top: 15rem;
  display: flex;
  .mainpage_fontcontainer {
    padding: 5rem;
    width: 100%;
    .mainpage_Aboutfontcontainer {
      font-style: normal;
      font-weight: 700;
      font-size: 7.2rem;
      margin-bottom: 1.5rem;
    }
    a {
      font-style: normal;
      font-weight: 700;
      font-size: 7.2rem;
      color: #0d43ce;
    }
    .mainpage_Whatfontcontainer {
      width: 90%;
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      line-height: 3rem;
    }
    .mainpage_button {
      cursor: pointer;
      color: white;
      margin-top: 7rem;
      width: 38rem;
      height: 10rem;
      background: #0d43ce;
      border-radius: 97px;
      filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.61));
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
    }
  }
  .mainpage_imageContainer {
    width: 100%;
    position: relative;

    .mainpage_image1 {
      position: absolute;
      z-index: 2;
      margin-left: 22rem;
    }
    .mainpage_image2 {
      position: absolute;
      margin-top: 35rem;
      margin-left: 10rem;
      z-index: 1;
    }
    .mainpage_image3 {
      position: absolute;
      z-index: 3;
      margin-left: -5rem;
    }
  }
}
