@import "../../abstracts/mixins";
.description_container {
  max-width: 120rem;
  margin: 5rem auto;
  font-size: 2em;
  @include respond(tab-land) {
    max-width: 100rem;
    padding: 2rem;
  }
  @include respond(tab-port) {
    max-width: 70rem;
  }
  @include respond(phone) {
    max-width: 50rem;
  }
  .description_space {
    font-weight: bold;
    margin: 2rem 2rem;
  }
}
.Labels_container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;

  .test {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    @include respond(tab-land) {
      // width: 30em;
      // height: 30em;
    }
    @include respond(tab-port) {
      .test {
        width: 20em;
        height: 20em;
      }
    }
  }
  @include respond(phone) {
    .test {
      width: 16em;
      height: 14em;
    }
  }
}
.progress-bar {
  position: fixed;
  top: 11.7rem;
  left: 0;
  right: 0;
  height: 0.5rem;
  background: rgb(0, 0, 0);
  transform-origin: 0%;
  z-index: 999;
  @include respond(tab-land) {
    top: 9.2em;
  }
  @include respond(tab-port) {
    top: 0;
    height: 1.5rem;
  }
}
