@import "../../abstracts/mixins";
.car_container {
  margin-top: 10rem;
  justify-content: center;
  max-width: 120em;
  align-items: center;
  margin: auto;
  padding: 3em;
  display: block;
  @include respond(tab-land) {
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: black;
  }
  .description_container {
    font-size: 2rem;
    @include respond(tab-land) {
      padding: 0;
      max-width: 100rem;
    }
    @include respond(tab-port) {
      max-width: 70rem;
    }
    @include respond(phone) {
      max-width: 50rem;
    }
    .description_space {
      margin-top: 5rem;
    }
    .description_spacebetween {
      padding: 1rem 0;
    }
    ol {
      padding: 0 3rem;

      li {
        padding-bottom: 1em;
        list-style: disc;
      }
    }
  }
  .box {
    max-width: 114em;
    display: flex;
    place-content: center;
    @include respond(tab-port) {
      display: block;
    }
  }
  .level {
    margin: auto;
    margin-top: 2.5rem;
    max-width: 80em;
    @include respond(tab-land) {
      max-width: 58em;
      margin-right: 0.2em;
    }
    @include respond(tab-port) {
      margin: auto;
      max-width: 62em;
      // align-items: center;
      // place-items: center;
    }
    @include respond(phone) {
      max-width: 31.5em;
    }
    @include respond(fold) {
      max-width: 28.5em;
    }
  }
  .vertical {
    margin: auto;
    max-width: 32.8em;
    margin-top: 2.5rem;
    max-height: 42.3em;
    @include respond(tab-land) {
      max-width: 25.5em;
      max-height: 30.7em;
      margin-left: 0.2em;
    }
    @include respond(tab-port) {
      margin: 2em auto;

      max-width: 30.5em;
      max-height: 47.9em;
    }
    @include respond(phone) {
      margin: 1em auto;

      max-width: 31.5em;
      max-height: 57.9em;
    }
    @include respond(fold) {
      max-width: 14.5em;
    }
  }
  .vertical1 {
    height: 48.5em;
    margin: auto;
    max-width: 32.8em;
    margin-top: 2.5rem;
    @include respond(tab-land) {
      max-width: 25.5em;
      max-height: 35.2em;
      margin-left: 0.2em;
    }
    @include respond(tab-port) {
      margin: 2em auto;

      max-width: 31.5em;
      max-height: 57.9em;
    }
    @include respond(phone) {
      margin: 1em auto;

      max-width: 31.5em;
      max-height: 57.9em;
    }
    @include respond(fold) {
      max-width: 14.5em;
    }
  }
}
