@import "../../abstracts/mixins";
.poster_container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  font-size: 2.6em;
  @include respond(tab-land) {
    max-width: 100rem;
  }
  @include respond(tab-port) {
    max-width: 70rem;
  }
  @include respond(phone) {
    max-width: 50rem;
  }
  ol {
    margin-left: 2em;
    padding: 0.5em;
    @include respond(phone) {
      margin-left: 1.7em;
      padding: 1;
    }
    li {
      list-style: number;
    }
  }
  .second_part {
    margin-top: 3em;
    ul {
      margin-left: 2em;
      padding: 0.5em;
      @include respond(phone) {
        margin-left: 1.7em;
        padding: 1;
      }
      li {
        list-style-type: disc;
      }
    }
  }
}
