.container {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  // display: flex;
  .swiper {
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70rem;

    overflow: hidden;
  }

  .swiper-slide {
    text-align: center;
  }

  .swiper .swiper-slide {
    margin-top: 2rem;
    height: 80rem;
  }
  .jpg1 {
    height: 45em;
    width: 70em;
  }
  .jpg2 {
    width: 40em;
    height: 45em;
  }
}
