@import "../../../abstracts/mixins";
.container {
  justify-content: center;
  align-items: center;
  place-items: center;
  place-content: center;
  height: 60em;
  width: 100vw;
  // display: flex;
  .swiper-button-prev,
  .swiper-button-next {
    color: black;
  }
  .swiper {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 60rem;
    overflow: hidden;
    overflow-x: hidden;
    @include respond(tab-land) {
      width: 100vw;
    }
  }

  .swiper-slide {
    display: flex; /* Dodaj tę linię */
    justify-content: center; /* Dodaj tę linię */
    align-items: center; /* Dodaj tę linię */

    height: 100%; /* Dodaj tę linię */
  }

  .swiper .swiper-slide {
    margin-top: 2rem;
    height: 80rem;
  }
  .jpg1 {
    height: 45em;
    width: 70em;
    @include respond(phone) {
      width: 50em;
    }
  }
  .jpg2 {
    width: 55em;
  }
}
