@import "../../../abstracts/mixins";
.container {
  width: 100vw;
  justify-content: center;
  align-items: center;
  place-content: center;
  place-items: center;
  display: flex;
  margin-top: 10rem;
  .swiper-button-prev,
  .swiper-button-next {
    color: black;
  }

  .box {
    display: flex;
    place-content: center;
    place-items: center;
    align-items: center;
    // width: 70%;
    overflow: hidden;
    overflow-x: hidden;
    display: inline-flex;
    // margin: 15rem auto;
    margin-bottom: 25rem;
    @include respond(tab-land) {
      width: 90%;
    }
    .jpg1 {
      display: flex;
      place-content: center;
      place-items: center;
      align-items: center;
      @include respond(tab-port) {
        width: 50em;
        height: 35em;
      }
      @include respond(phone) {
        width: 47em;
        height: 20em;
      }
    }
    .jpg2 {
      display: flex;
      place-content: center;
      place-items: center;
      align-items: center;
      width: 30em;
      height: 50em;
      @include respond(phone) {
        width: 35em;
        height: 50em;
      }
    }

    // width: 25rem;
    // height: 25rem;
    // @include respond(tab-port) {
    //   width: 100vw;
    //   padding: 5em;
    //   display: grid;
    //   position: relative;
    // }
    // .box1 {
    //   padding: 2rem;
    //   width: 100vw;
    //   justify-content: center;
    //   align-items: center;
    //   @include respond(tab-port) {
    //   }
    // }
    //   .vertical {
    //     border: solid 0.1rem rgb(0, 0, 0);
    //     @include respond(tab-land) {
    //       width: 23.1em;
    //       height: 49em;
    //     }

    //     @include respond(tab-port) {
    //       margin-left: 20em;
    //     }
    //   }
    //   .vertical_end {
    //     border: solid 0.1rem rgb(0, 0, 0);
    //     @include respond(tab-land) {
    //       width: 23.1em;
    //       height: 49em;
    //     }
    //     @include respond(tab-port) {
    //       position: absolute;
    //       top: 5em;
    //       right: 20em;
    //     }
    //   }
    //   .level {
    //     border: solid 0.1rem black;
    //     @include respond(tab-land) {
    //       width: 49em;
    //       height: 23.1em;
    //     }
    //     @include respond(tab-port) {
    //     }
    //   }
  }
}
