@import "../../../abstracts/mixins";
.car_container {
  margin-top: 10rem;
  justify-content: center;
  max-width: 120em;
  align-items: center;
  margin: auto;
  padding: 3em;
  display: block;
  @include respond(tab-land) {
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: black;
  }

  .box {
    max-width: 114em;
    display: flex;
    place-content: center;
  }
  .level {
    margin: auto;
    margin-top: 2.5rem;
    max-width: 80em;
    @include respond(tab-land) {
      max-width: 58em;
      margin-right: 0.2em;
    }
    @include respond(tab-port) {
      max-width: 47em;
    }
    @include respond(phone) {
      max-width: 27.5em;
    }
    @include respond(fold) {
      max-width: 28.5em;
    }
  }
  .vertical {
    margin: auto;
    max-width: 32.8em;
    margin-top: 2.5rem;
    max-height: 42.3em;
    @include respond(tab-land) {
      max-width: 25.5em;
      max-height: 30.7em;
      margin-left: 0.2em;
    }
    @include respond(tab-port) {
      max-width: 17.5em;
      max-height: 24.9em;
    }
    @include respond(phone) {
      max-width: 9.8em;
      max-height: 19.9em;
    }
    @include respond(fold) {
      max-width: 14.5em;
    }
  }
  .vertical1 {
    height: 48.5em;
    margin: auto;
    max-width: 32.8em;
    margin-top: 2.5rem;
    @include respond(tab-land) {
      max-width: 25.5em;
      max-height: 35.2em;
      margin-left: 0.2em;
    }
    @include respond(tab-port) {
      max-width: 17.5em;
      max-height: 28.6em;
    }
    @include respond(phone) {
      max-width: 9.8em;
      max-height: 16.7em;
    }
    @include respond(fold) {
      max-width: 14.5em;
    }
  }
}
