.container {
  .box {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 25rem auto;
    margin-bottom: 25rem;
    width: 25rem;
    height: 25rem;
    .box1 {
      padding: 2rem;
      width: 100vw;
      justify-content: center;
      align-items: center;
    }
    .img {
      border: solid 0.3rem black;
    }
  }
}
