.Labels_container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;

  .test {
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 1rem;
  }
  // .test:hover {
  //   transform: scale(1.1);
  // }
}
.progress-bar {
  position: fixed;
  top: 10rem;
  left: 0;
  right: 0;
  height: 0.5rem;
  background: rgb(0, 0, 0);
  transform-origin: 0%;
  z-index: 999;
}
