@import "../../../abstracts/mixins";
.Labels_container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  @include respond(tab-land) {
  }
  .test {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    @include respond(tab-land) {
      width: 30em;
      height: 30em;
    }
    @include respond(tab-port) {
      .test {
        width: 20em;
        height: 20em;
      }
    }
  }
  @include respond(phone) {
    .test {
      width: 16em;
      height: 16em;
    }
  }
}
.progress-bar {
  position: fixed;
  top: 10rem;
  left: 0;
  right: 0;
  height: 0.5rem;
  background: rgb(0, 0, 0);
  transform-origin: 0%;
  z-index: 999;
  @include respond(tab-port) {
    top: 0;
    height: 1.5rem;
  }
}
